html,
body {
  /* background: linear-gradient(135deg, #f0f3ed, #9ba3b1); */
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 5em;
  font-family: "Montserrat";
  /*Montserrat, Open Sans, Roboto, Lato, Poppins, Oswald*/
  font-weight: normal;
  color: white;
}

/*Make 'em flow*/
#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
  padding: 16px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
transform: translateY(-2px);
}

.card-content {
  padding: 16px;
}

.card-content h2 {
  /* margin-top: 0;
  font-size: 20px; */
  text-transform: capitalize;
  font-size: 1.2em;
  color: #2c3e50;
  margin: 0 0 5px;
}

.card-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 16px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content ul {
  list-style: none;
  padding: 0;
}

.card-content ul li {
  display: inline;
  margin: 8px 0;
}

.filter-controls {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #3498db;
  color: white;
  font-size: 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background 0.3s;
  margin: 3px;
}
button:hover {
  background: #2980b9;
}

.input-container {
  display: flex;
  align-items: center;
}
.input-icon {
  margin-right: 5px;
  font-size: 16px;
}

/* [type="text"] */
input,select { 
  padding: 10px;
  width: auto;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.on {
  color: green;
}

.off {
  color: white;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.fave-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  text-shadow: 1px 1px 2px gray;
  cursor: pointer;
  font-size: 40px;
}

.fave-icon.selected {
  color: yellow;
}

.map-link {
  position: absolute;
  bottom: 15px;
  left: 0px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 2px gray;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}